#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#popup input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#popup button[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup button[type="button"]:hover {
  background-color: #3e8e41;
}

body {
  background-color: #f0f0f0;
}

#time-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#time-btn:hover {
  background-color: #3e8e41;
}
/* Styles for all devices */
body {
  font-family: sans-serif; /* Example font */
  margin: 0;
  padding: 0;
}

/* Styles for screens smaller than 768px (typical phone width) */
@media only screen and (max-width: 768px) {
  #popup, #content {
    width: 100%; /* Make elements full width on mobile */
  }

  #code-input, #submit-btn {
    width: 100%; /* Make input and button full width */
  }

  #time-btn, #my-ip-btn {
    display: block; /* Make buttons stack vertically */
    width: 100%; /* Make buttons full width */
    margin-bottom: 10px; /* Add spacing between buttons */
  }

  /* Adjust other styles as needed for mobile layout */
}

